.lg-react-element {
    column-count:3;
    column-gap:10px;
}
a img {
    max-width:100%;
    display:block;
    padding: 5px 0px;
    border-radius:20px;
    transition: transform 0.2s;
    
}

.gallery-img:hover {
  transform: scale(0.95);      
  box-shadow: 0 5px 10px rgba(0,0,0,0.35); 
}

@media only screen and (min-width: 70px) {
    .lg-react-element {
        column-count:3;
    }
}

